.wrapper{
    width: 75%;
    box-sizing: border-box;
    padding-left: 20px;
}

.wrapper__inner{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.wrapper__inner img{
    width: 100%;
    height: auto;
}

.wrapper__info{
    display: flex;
    margin-top: 20px;
}

.wrapper__avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper__avatar img{
    width: 100%;
    height: auto;
}

.wrapper__content{
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.wrapper__name{
    display: block;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

.wrapper__text{
    display: block;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}

